SECTRACE_MCP_BASE_URL=
SECTRACE_DEMO_DATA_DIR=
SECTRACE_MATRIX_HOMESERVER_URL=
SECTRACE_MATRIX_ACCESS_TOKEN=
SECTRACE_APPROVAL_ROOM_ID=
SECTRACE_APPROVER_USER_ID=
HICLAW_GATEWAY_URL=
HICLAW_MANAGER_URL=
